/*
 * This file is part of quizzy.
 *
 * quizzy is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * quizzy is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with quizzy. If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * This stylesheet contains the css settings required for
 * quizzy to work at all correct. If you want to change
 * any of these, they can be overridden in your quizzySkin.css
 * file.
 */

#quizzy {
  overflow: hidden;
}

#quizzy_c {
  position: relative;
  height: 100%;
}

#quizzy_load{
  height: 100%;
  float: left;
  overflow: auto;
  position: relative;
}

.quizzy_load_foot{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.quizzy_load_foot input {
  margin-right:4px;
}

#quizzy_load img{
  /* This will force the image to fit within the box.
    * IE6 doesn't support this, there's a hack in the quizzyHeader.php
    */
  float: right;
  max-width: 30%;
  margin: 4px;
}

#quizzy_quiz {
  height: 100%;
  float: left;
}

.quizzy_title {
  overflow: hidden;
}

#quizzy_q_c
{
  position: relative;
  width: 100%;
  height: 90%;
}

.quizzy_q {
  height: 100%;
  float: left;
  overflow: auto;
}

.quizzy_q_ic {
  /* Required to make bottom:0px; in the .quizzy_q_foot put that div to the bottom */
  position: relative;
}

/*
 * question pane stuff
 */

.quizzy_q_body {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.quizzy_q_body img {
  /* This will force the image to fit within the box.
   * IE6 doesn't support this, there's a hack in the quizzyHeader.php
   */
  float: right;
  max-width: 45%;
  max-height: 45%;
  margin: 4px;
}

.quizzy_q_txt {
  width: 98%;
}

.quizzy_q_txt_val {
  margin-left: 4px;
}

.quizzy_q_opts {
  width: 100%;
  overflow: hidden;
  padding-bottom: 25pt;
}

.quizzy_q_opts img {
  /* This will force the image to fit within the box.
   * IE6 doesn't support this, there's a hack in the quizzyHeader.php
   */
  max-width: 80%;
  max-height: 12pt;
  margin: 4px;
  vertical-align: middle;
}

.quizzy_q_opt_val {
  float:right;
}

.quizzy_q_exp {
  margin-top: 4px;
}

.quizzy_q_exp img {
  /* This will force the image to fit within the box.
   * IE6 doesn't support this, there's a hack in the quizzyHeader.php
   */
  float: right;
  max-width: 45%;
  max-height: 45%;
  margin: 3px;
}

.quizzy_q_foot {
  /* These two attributes make the footer float 3 px off the bottom of the pane */
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: right;
  overflow:hidden;
}

.quizzy_q_foot input {
  margin-right: 4px;
}

.quizzy_done img {
  /* This will force the image to fit within the box.
    * IE6 doesn't support this, there's a hack in the quizzyHeader.php
    */
  max-height: 15%;
  margin: 4px;
}
